importFrom("grDevices", "terrain.colors")
importFrom("graphics", "contour", "points", "text")
importFrom("stats", "aggregate", "as.formula", "cancor", "glm", "lm", "loess", "model.matrix", "predict")
importFrom("fields", "as.image", "image.plot")
importFrom("plotly", "plot_ly")
importFrom("lattice", "wireframe")
importFrom("FactoMineR", "PCA", "MFA")
importFrom("MCMCpack", "MCMCregress")
importFrom("mgcv", "gam")
importFrom("glmulti", "glmulti")
import("factoextra")
import("ggdendro")
import("shiny")
import("ggplot2")
import("ggfortify")
import("doBy")
export("PrefMap")
export("SmoothMap")
export("StabMap")
export("SensMapUI")


